[submodule "submodules/docker-elk"]
	path = submodules/docker-elk
	url = https://github.com/caas/docker-elk.git
[submodule "submodules/swarmprom"]
	path = submodules/swarmprom
	url = https://github.com/stefanprodan/swarmprom.git
[submodule "ansible/roles"]
	path = ansible/roles
	url = https://github.com/alainivars/ansible-roles.git
