# Core

# Storages

# LXC, LXD
pylxd>=2.2.11, < 2.3

# Docker
docker>=4.3.1, < 4.4

# AWS
boto3>=1.14.54, < 1.15
botocore>=1.17.54, < 1.18
s3transfer>=0.3.3, < 0.4

# Ansible
#ansible>=2.6.1, <2.7  # because testinfra AttributeError: 'PlaybookCLI' object has no attribute 'base_parser'
ansible>=2.9.12, < 2.10

# JUJU
#juju==0.11.7
#jujubundlelib

# TEST
python-dateutil
tox
# Ansible tests
molecule>=3.0.8, < 3.1
pytest>=6.0.1, < 6.1
testinfra>=5.2.2, < 5.3


# Code quality (alway last version)
pycodestyle
pytest-pep8
pytest-cov
coverage

# Static Documentation (alway last version)
Sphinx
readthedocs-sphinx-ext
requests
urllib3>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
