# Core
deprecation #>=2.1.0, < 3.0

# Storages

# LXC, LXD
pylxd #>=2.3.0, < 2.4

# Docker
docker #>=4.4.4, < 4.5

# AWS
boto3 #>=1.17.43, < 1.18
botocore #>=1.20.43, < 1.21
s3transfer #>=0.3.6, < 0.4

# Ansible
ansible #>=2.9.12, < 3.0
proxmoxer
#ansible>=3.2.0, < 4.0
#ansible==2.9
#ansible-lint==4.2.0

# TEST (always last version)
python-dateutil
tox
pytest
# Ansible tests
molecule #>=3.3.0, < 3.4
testinfra #>=6.0.0, < 7.0


# Code quality (always last version)
pycodestyle
pytest-pep8
pytest-cov
coverage

# Static Documentation (always last version)
Sphinx
readthedocs-sphinx-ext
requests
cookiecutter #>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3 #>=1.26.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments #>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
