# Core

# Storages

# LXC, LXD
pylxd>=2.2.11, < 2.3

# Docker
docker>=4.3.1, < 4.4

# AWS
boto3>=1.14.54, < 1.15
#boto3-stubs==1.14.47.0
boto3>=1.14.54, < 1.15
botocore>=1.17.54, < 1.18
s3transfer>=0.3.3, < 0.4

# Ansible
#ansible>=2.6.1, <2.7  # because testinfra AttributeError: 'PlaybookCLI' object has no attribute 'base_parser'
ansible>=2.9.12, < 2.10

# JUJU
#juju==0.11.7
#jujubundlelib

# TEST
python-dateutil
tox
# Ansible tests
molecule
pytest
testinfra


# Code quality
pycodestyle
pytest-pep8
pytest-cov
coverage

# Static Documentation
Sphinx
readthedocs-sphinx-ext
requests
cookiecutter>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
